--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, email, password, created_at, is_admin) FROM stdin;
2	dava	bekmurza@mail.ru	test1234	2025-03-30 03:58:24.029095	f
4	David	David@mail.ru	test123	2025-04-04 01:58:54.885508	f
3	Islam	islam@mail.ru	test	2025-03-30 04:32:44.852935	f
1	elmir	bekmurzaev@mail.ru	test123	2025-03-30 01:59:50.108409	t
5	Alymbek	alym@mail.ru	test123	2025-05-23 20:35:00.846139	f
6	admin	admin@admin.com	admin123	2025-05-24 05:38:02.28222	t
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: solutions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: task_answers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_answers (id, task_id, user_id, answer_text, file_url, submitted_at) FROM stdin;
\.


--
-- Data for Name: user_notes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_notes (id, user_id, task_id, note, created_at) FROM stdin;
\.


--
-- Data for Name: user_solutions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_solutions (id, user_id, task_id, solution, language, submission_time, is_correct) FROM stdin;
\.


--
-- Data for Name: user_solved_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_solved_tasks (user_id, task_id, solution_id, solved_at) FROM stdin;
4	12	15	2025-04-07 21:50:19.261241
\.


--
-- Data for Name: user_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_tasks (id, user_id, task_id, is_solved, last_viewed) FROM stdin;
2	1	2092E	f	2025-04-01 02:11:39.477118
3	1	2092D	f	2025-04-01 02:12:33.73121
1	1	2092F	f	2025-04-01 02:35:55.476488
\.


--
-- Name: solutions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.solutions_id_seq', 19, true);


--
-- Name: task_answers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_answers_id_seq', 1, false);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tasks_id_seq', 21, true);


--
-- Name: user_notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_notes_id_seq', 1, false);


--
-- Name: user_solutions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_solutions_id_seq', 1, false);


--
-- Name: user_tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_tasks_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- PostgreSQL database dump complete
--

